doctype html
html
  head
    meta(charset="utf-8")
    script(type="text/javascript" src="scripts.js" defer)
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js")
    title SSH Test
  body
    div#root
      block layout-content
    div
      div
        div.Title
          h3 SSH Test
        span.Details Click the button
        button(id="test") Click
